img {
    width: 100%
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    background-color: #e5e5be;
    margin:0; 
}

.column {

    width: 600px; 
    margin: 0px auto;  
    background-color: white;
    padding: 1px 40px 40px 40px; 
    border-left: solid 25px #524f4f;
    border-right: solid 25px #524f4f;
}
h1 {
    font-size: 60;
    padding: 15px 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1,h2 {
    text-shadow: 0px 0px 20px #ec0b0b; 
<<<<<<< HEAD
    color:rgb(109, 112, 109); 
=======
    color:black; 
>>>>>>> parent of 329ccbd... Try new color
}

p{
    background: #505855; 
    padding: 5px; 
}
